/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

/*COMMON*/

body{
    font-family: 'Montserrat', sans-serif;
}

ul{
    text-align: left;
}
/*da usare nelle parti con larghezza 80% */
.margin{
    width: 80%;
    margin: auto;
}

/*da usare nelle parti con larghezza 60%*/
.margin-more{
    width: 60%;
    margin: auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.col{
    float: left;
}

.menu{
    list-style-type: none;
}

.main-text{
    font-size: 10px;
    color: black;
    line-height: 20px;
    
}

.fas{
    font-size: 15px;
    margin-right: 3px;
    padding: 8px;
}

.button{
    background-color: orangered;
    border-radius: 5px;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    text-align: center;
}

a{
    display: inline-block;
}

h2, p{
    padding-bottom: 20px;
}
/*usare nelle sections*/

.text-section{
    text-align: center;
}

/*mettere poi background img, position ,widht e height box*/
.img-box{
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
}


/*HEADER*/

/*test*/

/*menu top*/
.container-top{
    background-color: lightgrey;
}

.col-left{
    width: 50%;
}

.col-right{
    width: 50%;
}

header .col-right ul{
    text-align: right;
}

header .menu li{
    display: inline-block;
    margin: 20px 20px 20px 0;
}

header .menu a{
    text-decoration: none;   
}

header .login{
    background-color: white;
    border: 1px solid orangered;
    border-radius: 5px;
    padding: 6px 15px;
    color: orangered;
}

.menu .button{
    padding: 6px 15px;
    color: white;
}
/*fine menu top*/

/*menu bottom*/

.container-bottom{
    background-color: white;
}

/*fine menu bottom*/

/*banner*/
.banner{
    position: relative;
    height: 500px;
    background-image: url(../img/jumbotron.png);
    background-size: cover;
    background-position: 100% 50%;   
}

.teaser{
    position: absolute;
    top: 10%;
    left: 10%;   
    width: 35%;      
}

.banner h1{
    font-size: 40px;
    padding: 20px 0;
}

.banner .button{
   margin: 20px 20px 20px 0;
}

/*fine banner*/

/*row-box*/

header .row-box{
   background-color: lightseagreen;
   height: 75px;
   border-top: 2px solid #494d52;
   border-bottom: 2px solid #494d52;
}

/*fine row-box*/

/*FINE HEADER*/

/*MAIN*/

/*section offers*/

/*intro*/
main .offers{
    background-color: #cef5ed;
    padding-bottom: 30px;
}

.intro .img-section{
    width: 180px;
    height: 180px;
    margin: auto;
    background-image: url(../img/integrations_illustration.webp);
    background-position: 100% 60%;
    background-repeat: no-repeat;
    background-size: contain;
}

.intro p{
    text-align: center;
}
/*fine intro*/

/*box-info*/

.offers .box-info{
    background-color: white;
    border-radius: 7px;
    padding: 40px;
    
}

/*larghezza colonne non uguali*/
.offers .col-left{
      width: 20%; 
}

.offers .col-right{
      width: 80%;
}
 /*common offers*/
.offers .col{
    text-align: center;
}

.offers a{
    margin: 20px;
}

/*text-info*/

.offers .text-info{
    margin: 0 60px;
}

.offers h3{
    margin: 20px 0;
}

.text-info h3,
.text-info p,
.text-info h4,
.text-info ul {
    text-align: left;
}
/*non funziona fare la riga orizzontale cosi!!*/
.text-info .row{
    height: 1px;
    border-top: 1px solid black;
}

/*altri common*/

.offers h4{
    text-transform: uppercase;
    font-size: 15px;
}

.offers .offer-menu{
    list-style-type: none;
    
}

 li{
    display: inline-block;
    margin: 20px 0;
}
/*fine altri common*/

.offer-menu i{
    color: orangered;
}

.offer-menu .fas{
    padding-left: 0;
}

/*colonne info*/

.colonne-info{
    margin-top: 30px;
}

.offers .colonne-info .col-left{
    width: 30%;
    background-color: white;
    border-radius: 7px;
}

.offers .colonne-info .col-center{
    width: 30%;
    margin: 0 5%;
    background-color: white;
    border-radius: 7px;
}

.offers .colonne-info .col-right{
    width: 30%;
    background-color: white;
    border-radius: 7px;
}


/*common a tutte le img delle colonne*/
.sez-img{
    width: 160px;
    height: 160px;
    margin: 20px auto;
    background-size: contain;
    background-repeat: no-repeat;
}

.col-left .sez-img{
    background-image: url(../img/marketing-hub-free.svg);
}

.col-center .sez-img{
    background-image: url(../img/sales-professional-illustration.svg);
}

.col-right .sez-img{
    background-image: url(../img/service-hub-illustration.svg);
}

.colonne-info .text-col h3,
.colonne-info .text-col p, 
.colonne-info .text-col h4{
    text-align: center;
    padding: 10px;
}

.col-menu i{
    color: orangered;
}

.text-col li{
    display: block;   
}

/*fine section offers*/

/*section numbers*/

.numbers{
    background-color: #39bbdb;
}

.box-number{
    padding: 30px 0 30px 0; 
}

.box-number h2,
.box-number p,
.block-table p{
    color: white;  
}

.margin-title{
    margin: 0 5%;
}

.table .col-prima{
    width: 25%;  
}

.table .col-seconda{
    width: 25%;  
}

.table .col-terza{
    width: 25%;
}

.table .col-quarta{
    width: 25%;
}

/* common della tabella*/
.block-table{
    padding: 30px 30px 15px 30px ;
    text-align: center;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.img-table{
    width: 70px;
    height: 70px;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 20px;
    
}

.block-table .number-table{
    color: white;
    font-size: 30px; 
}
 /*row table*/
.row-table-top .col-prima .img-table{
    background-image: url(../img/homepage_community_agency.svg);
}

.row-table-top .col-seconda .img-table{
    background-image: url(../img/homepage_community_blog.svg);
}

.row-table-top .col-terza .img-table{
    background-image: url(../img/homepage_community_academy.svg);
}

.row-table-top .col-quarta .img-table{
    background-image: url(../img/homepage_community_inbound.svg);
}

/*bottom table*/
.row-table-bottom .col-prima .img-table{
    background-image: url(../img/homepage_community_connect.svg);
}

.row-table-bottom  .col-seconda .img-table{
    background-image: url(../img/homepage_community_globe.svg);
}

.row-table-bottom  .col-terza .img-table{
    background-image: url(../img/homepage_community_followers.svg);
}

.row-table-bottom  .col-quarta .img-table{
    background-image: url(../img/growthhub-white-small-1.svg);
}

.row-table-bottom .block-table{
    border-bottom: none;
}

.col-quarta .block-table{
    border-right: none;
}





/*invece dei numeri prova ad usare first child second child o simile
.block-table .one{
    background-image: url(../img/homepage_community_agency.svg);
}


.col-prima .img-table:first-child{
    background-image: url(../img/homepage_community_agency.svg);
}

.col-prima .block-table:last-child .img-table:last-child{
    background-color: red;
}
*/

/*FINE MAIN*/