/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

/*COMMON*/

body{
    font-family: 'Montserrat', sans-serif;
}

ul{
    text-align: left;
}
/*da usare nelle parti con larghezza 80% */
.margin{
    width: 80%;
    margin: auto;
}

/*da usare nelle parti con larghezza 60%*/
.margin-more{
    width: 60%;
    margin: auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.col{
    float: left;
}

.menu{
    list-style-type: none;
}

.main-text{
    font-size: 10px;
    color: black;
    line-height: 20px;
    
}

.fas{
    font-size: 15px;
    margin-right: 3px;
    padding: 8px;
}

.button{
    background-color: orangered;
    border-radius: 5px;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    text-align: center;
}

a{
    display: inline-block;
}

h2, p{
    padding-bottom: 20px;
}
/*usare nelle sections*/

.text-section{
    text-align: center;
}

/*mettere poi background img, position ,widht e height box*/
.img-box{
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
}


/*HEADER*/

/*test*/

/*menu top*/
.container-top{
    background-color: lightgrey;
}

.col-left{
    width: 50%;
}

.col-right{
    width: 50%;
}

header .col-right ul{
    text-align: right;
}

header .menu li{
    display: inline-block;
    margin: 20px 20px 20px 0;
}

header .menu a{
    text-decoration: none;   
}

header .login{
    background-color: white;
    border: 1px solid orangered;
    border-radius: 5px;
    padding: 6px 15px;
    color: orangered;
}

.menu .button{
    padding: 6px 15px;
    color: white;
}
/*fine menu top*/

/*menu bottom*/

.container-bottom{
    background-color: white;
}

/*fine menu bottom*/

/*banner*/
.banner{
    position: relative;
    height: 500px;
    background-image: url(../img/jumbotron.png);
    background-size: cover;
    background-position: 100% 50%;   
}

.teaser{
    position: absolute;
    top: 10%;
    left: 10%;   
    width: 35%;      
}

.banner h1{
    font-size: 40px;
    padding: 20px 0;
}

.banner .button{
   margin: 20px 20px 20px 0;
}

/*fine banner*/

/*row-box*/

header .row-box{
   background-color: lightseagreen;
   height: 75px;
   border-top: 2px solid #494d52;
   border-bottom: 2px solid #494d52;
}

/*fine row-box*/

/*FINE HEADER*/

/*MAIN*/

/*section offers*/

/*intro*/
main .offers{
    background-color: #cef5ed;
}

.intro .img-section{
    width: 180px;
    height: 180px;
    margin: auto;
    background-image: url(../img/integrations_illustration.webp);
    background-position: 100% 60%;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
}

.intro p{
    text-align: center;
}
/*fine intro*/

/*box-info*/

.offers .box-info{
    background-color: white;
    border-radius: 7px;
    padding: 40px;
    
}

/*larghezza colonne non uguali*/
.offers .col-left{
      width: 20%; 
}

.offers .col-right{
      width: 80%;
}
 /*common offers*/
.offers .col{
    text-align: center;
}

.offers a{
    margin: 20px;
}

/*text-info*/

.offers .text-info{
    margin: 0 60px;
}

.offers h3{
    margin: 20px 0;
}

.text-info h3,p, h4, ul {
    text-align: left;
}
/*non funziona fare la riga orizzontale cosi!!*/
.text-info .row{
    height: 1px;
    border-top: 1px solid black;
}

/*altri common*/

.offers h4{
    text-transform: uppercase;
    font-size: 15px;
}

.offers .offer-menu{
    list-style-type: none;
    
}

 li{
    display: inline-block;
    margin: 20px 0;
}
/*fine altri common*/

.offer-menu i{
    color: orangered;
}

.offer-menu .fas{
    padding-left: 0;
}

/*colonne info*/

.colonne-info{
    margin-top: 30px;
}

.offers .colonne-info .col-left{
    width: 30%;
    background-color: white;
    border-radius: 7px;
}

.offers .colonne-info .col-center{
    width: 30%;
    margin: 0 5%;
    background-color: white;
    border-radius: 7px;
}

.offers .colonne-info .col-right{
    width: 30%;
    background-color: white;
    border-radius: 7px;
}


/*common a tutte le img delle colonne*/
.sez-img{
    width: 160px;
    height: 160px;
    margin: 20px auto;
    background-size: contain;
    background-repeat: no-repeat;
}

.col-left .sez-img{
    background-image: url(../img/marketing-hub-free.svg);
}

.col-center .sez-img{
    background-image: url(../img/sales-professional-illustration.svg);
}

.col-right .sez-img{
    background-image: url(../img/service-hub-illustration.svg);
}
/*cerca di renderlo piu specifico */
.offers .colonne-info .text-col h3, p, h4{
    margin: auto;
    padding: 10px;
}

.col-menu i{
    color: orangered;
}

.text-col li{
    display: block;
    
}

/*FINE MAIN*/